header {
    background-color: blue;
    font-family: Roboto,sans-serif
}

header{
    background-color: #8697a6;
    padding: 50px;
    text-align: center;
    color: #FFFFFF;
}
header ing {
    height: 150px;
    border-radius: 50%;
}
section{
    margin: 50px;
    padding: 50px;
    background-color:#BFCDD9;
}
footer{
    background-color: #8697A6;
}